<h1>About you - the Carer</h1>
				
<div class="completed">
	<ul aria-label="Completed questions">
		<li><h3>Your details</h3><a href="/2About/about1.html">Change these answers</a></li>      
		<li><h3>Your contact details</h3><a href="/2About/about2.html">Change these answers</a></li> 
		<li><h3>Your claim date: <!--#include virtual="../public/_includes/ui/claim-date.shtml" --></h3> <a href="/2About/about3.html">Change this answer</a></li>
		<li><h3>Your nationality and residency</h3> <a href="/2About/about4.html">Change these answers</a></li>         
    </ul>
 </div>

<fieldset class="form-elements">

<legend>Time outside of England, Scotland or Wales</legend>

<ul>
	<li>
		<p>Have you been out of England, Scotland or Wales for more than 52 weeks in the last 3 years before your claim date? </p>
		<p class="helper">This could be one trip, or a number of trips adding up to 52 weeks</p>		
		<ul id="time-outside" class="radio">
	        <li>
	            <input type="radio" value="yes" name="time-outside" id="time-outside-yes">
	            <label for="time-outside-yes">Yes</label>
	        </li>
	        <li>
	            <input type="radio" value="no" name="time-outside" id="time-outside-no">
	            <label for="time-outside-no">No</label>
	        </li>
		</ul>		
	</li>
</ul>

<div style="display: none;" class="prompt breaks-prompt breaks-error-prompt" id="warningMessageWrap">
    <p>Tell us about any other time outside England, Scotland or Wales in the additional information section at the end of this application.</p>
    <!--<span>!</span>-->
</div>

</fieldset>
	
<div class="form-steps">
	<a href="about4.html" class="button secondary">Back</a>
	<a href="about6.html" class="button" id="continue">Next</a>
</div><!-- / form steps -->

<script>

// Show & Hide Fields
$(document).ready(function() {  
$('#time-outside-yes').click(function(){
//$("#warningMessageWrap").show('medium');
$('#continue').attr('href','about5-2.html');
});
$('#time-outside-no').click(function(){
//$("#warningMessageWrap").hide('medium');
$('#continue').attr('href','about6.html');
});
});

</script>