// Service specific styles



// Phase banner and tag

#phase-banner{
  @include phase-banner(beta);
  max-width: 960px;
  margin: 0 auto;
  text-indent: -999px;
  height: 10px;
  padding: 0;
}

#phase-tag{
  @include phase-tag(beta)
}

.button{
  @include button()
}

#section-nav h2{
  border-top: 5px solid $black;
  padding-top: $gutter-one-third;
  margin-top: $gutter;
}

// Link style

%link-style,
.link-style {
    display: inline;
    color: $link-colour;
    -webkit-appearance:none;
    background: none;
    border: none;
    text-decoration: underline;
  &:hover {
    color: $link-hover-colour;
    cursor: pointer;
  }
}

// Help and feedback drop-down panel

#help-feedback{
  margin: 0 -30px;
  border-color: $beta-colour;
  border-style: solid;
  border-width: 10px;
  padding: 0 20px;
  @include media(tablet) {
    margin: 0 10px;
  }
  h2{
    margin-top: 0;
    padding-top: 20px;
  }
  &.js-hidden{
    text-indent: -9999px;
    padding: 0;
    height: 0;
    border-width: 10px 0 0 0;
  }
}


// Review page

table.review-answers{
  width: 100%;
  border-top: 1px solid $border-colour;
  border-collapse: collapse;
  margin-top: $gutter;
  font-size: 19px;
  td{
    padding: 13px 0 10px 0;
    border-bottom: 1px solid $border-colour;
    width: 50%; 
    vertical-align: top;
  }
  td + td {
    padding-left: $gutter;
  }
}

// Forms

// Default text field width
.form-control[type="text"]{
  width: 66%;
}


.form{ 

  // Custom form control styles
  .form-control{
    &.NINumber{
      width: 150px;
    }
    &.postcode{
      width: 100px;
    }
    &.telNo{
      width: 250px;
    }
    &.town{
      width: 250px;
    }
    &.county{
      width: 250px;
    }
    &.country{
      width: 250px;
    }
  }

  .form-group-tight{
    margin-bottom: $gutter-half;
  }

  // Give radios and checkboxes visible active areas

  .radios,
  .checkboxes{
    margin: 0;
    padding-top: $gutter-half;
    padding-bottom: $gutter-half;
    .form-group{
      position: relative;
    }
    input{
      position: absolute;
      top: 10px;
      left: 10px;
    }
    label{
      display: inline-block;
      background-color: $panel-colour;
      border: 1px solid $panel-colour;
      padding: 7px 15px 5px;
      padding-left: 40px;
      margin: -1px 0 0;
      &:hover{
        border-color: $black;
        cursor: pointer;
      }
    }
    &.horizontal{
      @extend %contain-floats;
      .form-group{
        float: left;
        margin-right: 10px;
      }

    }
  }

  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label{
    background-color: $white;
    border: 1px solid $black;
  }

  input[type="radio"]:focus,
  input[type="checkbox"]:focus {
    outline: none;
  }
  input[type="radio"]:focus + label,
  input[type="checkbox"]:focus + label{
    outline: 3px solid #FFBF47;
    outline-offset: -2px;
  }

  // Select boxes

  select{
    font-size: 19px;
    margin-left: 0;
  }

  select[size]{
    padding: 10px;
  }

  legend.heading-36{
    padding-top: $gutter;
  }

}

  .js-enabled .js-hidden{
    display: none;
  }