<nav role="navigation" class="vertical progress-indicator">
  <ol>
    <li class="done"><a href="">About you <span>(0/10)</span></a></li>
    <li class="active"><a href="">The person you care for <span>(0/10)</span></a></li>
    <li><a href="">The care you provide <span>(0/6)</span></a></li>
    <li><a href="">Your payment details <span>(0/3)</span></a></li>
  </ol>
  <p><a href="#" class="disabled button">Submit application</a></p>
</nav>