<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="https://www.gov.uk/carers-allowance" id="proposition-name">Apply for Carer's Allowance <span id="phase-tag">beta</span></a>
      <ul id="proposition-links">
        <li><a href="#help-feedback" class="js-help-toggle">Help and feedback</a></li>
      </ul>
    </nav>
  </div>
</div>