<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      <a href="https://www.gov.uk/carers-allowance" id="proposition-name">Apply for Carer's Allowance <span id="phase-tag">beta</span></a>
    </nav>
  </div>
</div>