<h1><span>Section 1</span> About you</h1>

<p>In this section you'll be asked about:</p>
<ul>
	<li>Your personal details</li>
	<li>Your contact details</li>
	<li>Your address</li>
	<li>Your residency</li>
	<li>Your claim</li>
</ul>

<form class="form">

	<fieldset>
		<legend class="heading-36">Your personal details</legend>
		<div class="form-group">
			<label for="fullName">Full name</label>
			<div class="hint">As shown on your birth certificate or passport</div>
			<input type="text" class="form-control" id="fullName">
		</div>
		<div class="form-group">
			<label for="other-name">Any other last names</label>
			<input type="text" class="form-control" id="other-name">
			<div class="hint">Eg. your maiden name</div>
		</div>
		<fieldset class="date-of-birth">
	      <legend>Date of birth</legend>
	      <div class="form-group">
	        <label for="day">Day</label>
	        <input type="text" class="form-control" pattern="[0-9]*" id="day" class="form-control">
	      </div>
	      <div class="form-group">
	        <label for="month">Month</label>
	        <input type="text" class="form-control" id="month" class="form-control">
	      </div>
	      <div class="form-group form-group-year">
	        <label for="year">Year</label>
	        <input type="text" class="form-control" pattern="[0-9]*" id="year" class="form-control">
	      </div>
	    </fieldset>
		<div class="form-group">
			<label for="NINumber">National Insurance number</label>
			<div class="hint">As shown on your National Insurance card, benefit letter, payslip or P60</div>
			<input type="text" class="form-control NINumber" id="NINumber">
			<div class="hint">Eg. 'VO 12 34 56 D'</div>
		</div>	
		<div class="form-group">
			<label for="nationality">Nationality</label>
			<div class="hint">As shown on your current passport</div>
			<input type="text" class="form-control" id="nationality">
			<div class="hint">Eg. 'British'</div>
		</div>
	</fieldset>

	<fieldset>
		<legend class="heading-36">Contact details</legend>
		<div class="form-group form-group-tight">
	  		<label for="telNo">Phone or mobile number (if you have one)</label>
	  		<input type="text" class="form-control telNo" id="telNo">
		</div>
		<div class="form-group">	
  			<label for="textPhone"><input type="checkbox" class="form-control" id="textPhone"> Please use a textphone when contacting me</label>
		</div>
	</fieldset>

	<fieldset>
		<legend class="heading-36">Your address</legend>
		<div class="form-group form-group-tight">
	  		<label for="street">Street address</label>
	  		<input type="text" class="form-control" id="street">
		</div>
		<div class="form-group">
	  		<label for="street2" class="visuallyhidden">Street address line 2</label>
	  		<input type="text" class="form-control" id="street2">
		</div>
		<div class="form-group">
	  		<label for="town">Town or City</label>
	  		<input type="text" class="form-control town" id="town">
		</div>
		<div class="form-group">
	  		<label for="county">County (optional)</label>
	  		<input type="text" class="form-control county" id="county">
		</div>
		<div class="form-group">
	  		<label for="postcode">Postcode</label>
	  		<input type="text" class="form-control postcode" id="postcode">
		</div>
		<div class="form-group">
	  		<label for="country">Country</label>
	  		<%= partial "partials/country-select" %>
		</div>
	</fieldset>

	<fieldset>
		<legend class="heading-36">Residency</legend>

		<fieldset>
			<legend>Do you normally live in England, Scotland or Wales?</legend>

			<div class="horizontal radios">
				<div class="form-group">
			  		<input type="radio" id="UKYes" name="ukAlways">
			  		<label for="UKYes">Yes</label>
				</div>

				<div class="form-group">
			  		<input type="radio" id="UKNo" name="ukAlways">
			  		<label for="UKNo" name="partner">No</label>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>Have you been out of England, Scotland or Wales for more than a total of 52 weeks in the last 3 years?</legend>
			<div class="horizontal radios">
				<div class="form-group">
			  		<input type="radio" id="TimeAbroadYes" name="TimeAbroad">
			  		<label for="TimeAbroadYes">Yes</label>
				</div>

				<div class="form-group">
			  		<input type="radio" id="TimeAbroadNo" name="TimeAbroad">
			  		<label for="TimeAbroadNo" name="partner">No</label>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>
				<p>Answer 'Yes' below if any of the following statements are true.</p>
				<p>You or a member of your family:</p>
				<ul>
					<li>currently works or pays insurance outside the United Kingdom</li>
					<li>currently receives a benefit or pension outside the United Kingdom</li>
					<li>has claimed for a benefit or pension outside the United Kingdom</li>
				</ul>
			</legend>
			<div class="horizontal radios">
				<div class="form-group">
			  		<input type="radio" id="EEAYes" name="EEA1" class="js-toggle" data-show="#jsToggleEEAYes">
			  		<label for="EEAYes">Yes</label>
				</div>

				<div class="form-group">
			  		<input type="radio" id="EEANo" name="EEA1" class="js-toggle" data-hide="#jsToggleEEAYes">
			  		<label for="EEANo" name="partner">No</label>
				</div>
			</div>
		</fieldset>
		<fieldset class="js-hidden" id="jsToggleEEAYes">
			<legend>
				<p>Is it from one of these countries?</p>
				<p class="hint">Austria, Belgium, Bulgaria, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden or Switzerland.</p>
			</legend>
			<div class="horizontal radios">
				<div class="form-group">
			  		<input type="radio" id="EEAYes" name="EEA2">
			  		<label for="EEAYes">Yes</label>
				</div>

				<div class="form-group">
			  		<input type="radio" id="EEANo" name="EEA2">
			  		<label for="EEANo" name="partner">No</label>
				</div>
			</div>
		</fieldset>


		<%= partial "partials/questions/state-pension" %>

	</fieldset>


	<fieldset>
		<legend class="heading-36">Your claim</legend>
		<fieldset class="date-of-birth">
	      <legend>What date did you start caring from?</legend>
	      <div class="form-group form-group-tight">
	        <label for="day">Day</label>
	        <input type="text" class="form-control" pattern="[0-9]*" id="day" class="form-control">
	      </div>
	      <div class="form-group form-group-tight">
	        <label for="month">Month</label>
	        <input type="text" class="form-control" id="month" class="form-control">
	      </div>
	      <div class="form-group  form-group-tight form-group-year">
	        <label for="year">Year</label>
	        <input type="text" class="form-control" pattern="[0-9]*" id="year" class="form-control">
	      </div>
		<div class="hint">Please note that claims can only be back-dated up to 3 months from the date you submit this application.</div>
	    </fieldset>
	</fieldset>

	<fieldset>
		<legend class="heading-36">Your marital status</legend>
		<fieldset>
			<!--<legend style="padding-top: 30px;">Have you had a partner living with you at any time since this date?</legend>-->
			<legend style="padding-top: 30px;">Have you lived with a partner at any time in the last 3 months?</legend>
			<div class="horizontal radios">
				<div class="form-group">
			  		<input type="radio" id="partnerPastYes" name="partnerPast" class="js-toggle" data-show="#hadPartner">
			  		<label for="partnerPastYes">Yes</label>
				</div>
				<div class="form-group">
			  		<input type="radio" id="partnerPastNo" name="partnerPast" class="js-toggle" data-hide="#hadPartner">
			  		<label for="partnerPastNo">No</label>
				</div>
			</div>
		</fieldset>

		<div class="js-hidden" id="hadPartner">
			<fieldset id="partnerPresent">
				<legend>Are you living with a partner now?</legend>
				<div class="horizontal radios">
					<div class="form-group">
				  		<input type="radio" id="partnerPresentYes" name="partnerPresent" class="js-toggle" data-show="#careForPartner">
				  		<label for="partnerPresentYes">Yes</label>
					</div>

					<div class="form-group">
				  		<input type="radio" id="partnerPresentNo" name="partnerPresent" class="js-toggle" data-hide="#careForPartner">
				  		<label for="partnerPresentNo">No</label>
					</div>
				</div>
			</fieldset>

			<fieldset class="js-hidden" id="careForPartner">
				<legend>Is your partner the person you're caring for?</legend>
				<div class="horizontal radios">
					<div class="form-group">
				  		<input type="radio" id="careForPartnerYes" name="careForPartner" class="js-toggle" data-hide="#partnerDetails">
				  		<label for="careForPartnerYes">Yes</label>
					</div>

					<div class="form-group">
				  		<input type="radio" id="careForPartnerNo" name="careForPartner" class="js-toggle" data-show="#partnerDetails">
				  		<label for="careForPartnerNo">No</label>
					</div>
				</div>
			</fieldset>

			<fieldset class="js-hidden" id="partnerDetails">
				<legend class="heading-36">Your partner's details</legend>
				<div class="form-group">
					<label for="partnerFullName">Full name</label>
					<div class="hint">As shown on their birth certificate or passport</div>
					<input type="text" class="form-control" id="partnerFullName">
				</div>
				<div class="form-group">
					<label for="partnerOther-name">Any other last names</label>
					<input type="text" class="form-control" id="partnerOther-name">
					<div class="hint">Eg. their maiden name</div>
				</div>
				<fieldset class="date-of-birth">
			      <legend>Date of birth</legend>
			      <div class="form-group">
			        <label for="partnerDay">Day</label>
			        <input type="text" class="form-control" pattern="[0-9]*" id="partnerDay" class="form-control">
			      </div>
			      <div class="form-group">
			        <label for="partnerMonth">Month</label>
			        <input type="text" class="form-control" id="partnerMonth" class="form-control">
			      </div>
			      <div class="form-group form-group-year">
			        <label for="partnerYear">Year</label>
			        <input type="text" class="form-control" pattern="[0-9]*" id="partnerYear" class="form-control">
			      </div>
			    </fieldset>
				<div class="form-group">
					<label for="partnerNINumber">National Insurance number</label>
					<div class="hint">As shown on their National Insurance card, benefit letter, payslip or P60</div>
					<input type="text" class="form-control NINumber" id="partnerNINumber">
					<div class="hint">Eg. 'VO 12 34 56 D'</div>
				</div>	
				<div class="form-group">
					<label for="partnerNationality">Nationality (optional)</label>
					<div class="hint">As shown on their current passport</div>
					<input type="text" class="form-control" id="partnerNationality">
					<div class="hint">Eg. 'British'</div>
				</div>
			</fieldset>
		</div>


	</fieldset>

</form>