<h1>Can you get Carer's Allowance?</h1>

<fieldset class="form-elements form-eligibility q1">
    <legend><span>Q1</span>Does the person you care for get one of these benefits?</legend>
    <p class="helper-message">You can only qualify for Carer's Allowance if the Person you care for is in receipt of one of the qualifying benefits listed below.</p>
    <div class="prompt question-prompt">
        <p class="title">Personal Independence Payment (PIP)</p> 
        <p>At either the standard or enhanced rate of the Daily Living Component.</p>
        <p class="title">The care component of Disability Living Allowance (DLA)</p>
        <p>At the middle or highest rate.</p>
        <p class="title">Attendance Allowance (AA)</p>
        <p class="title">Constant Attendance Allowance (CAA)</p>
        <p>At or above the normal maximum rate as an addition to Industrial Injuries Disablement Benefit (IIDB);</p>
        <p>or the basic, full day rate as an addition to War Disablement Pension (WDP)</p>
        <p class="title">Armed Forces Independence Payment (AFIP)</p>
    </div>
	<ul class="radio" id="q1">
		<li><input type="radio" name="q1" id="yes"><label for="yes">Yes</label></li>
		<li><input type="radio" name="q1" id="no"><label for="no">No</label></li>
	</ul>
	<div id="answerNoMessageWrap" class="prompt breaks-prompt eligibility-prompt" style="display: none;">
        <p>If they have applied for one of the benefits above and are still waiting on a decision, please do not apply for Carer's Allowance until that decision has been made.</p>
        <p>You are legally entitled to claim Carer's Allowance even though you <strong>do not</strong> qualify and <strong>will not</strong> get Carer's Allowance.</p>
 	</div>
</fieldset>

<nav class="form-steps">
    <a href="q2.html" class="button" aria-label="Next button">Next</a>
</nav>
