<fieldset>
	<legend>Do you get state pension?</legend>
	<div class="horizontal radios">
		<div class="form-group">
	  		<input type="radio" id="pensionYes" name="pension">
	  		<label for="pensionYes">Yes</label>
		</div>
		<div class="form-group">
	  		<input type="radio" id="pensionNo" name="partner">
	  		<label for="pensionNo" name="partner">No</label>
		</div>
	</div>
</fieldset>