// =======================================================
// PROGRESS INDICATOR

.progress-indicator{
  &.vertical{
    margin-bottom: $gutter;
    @include core-19;  
    @include media(mobile) {
      padding-left: $gutter-two-thirds;
    }
    ol, ul{
      @extend %contain-floats;
      //border-bottom: 1px solid;
      //border-top: 1px solid;
      border-color: $border-colour;
      //margin: 0 0 0 $gutter;
      padding: 0;
      @include media(mobile) {
        margin: 0;
      }
    }
    li{
      list-style-type: decimal;
      float: left;
      margin: 0 $gutter-two-thirds 0 27px;
      padding: 10px 0 5px 0;
      color: $secondary-text-colour;  
      border-bottom: 5px solid transparent;    
      a{
        display: block;
        text-decoration: none;
        &:hover{
        color: $link-colour;
        text-decoration: underline;
        }
      } 
      &.active{
/*
        font-weight: bold;
        color: $text-colour;
        a{
          color: $text-colour;
        }
        */
      }
      span{
        float: right;
        @include core-16($line-height: (25 / 19));
        visibility: hidden;
      }
      @include media(mobile) {
        width: 100%;
        margin-left: 0;
      }
      &.done{
        span{
          visibility: visible;
          text-indent: -9999px;
          margin-right: 5px;
          margin-left: -16px;
          width: 5px;
          margin-top: -23px;
          height: 10px;
          border-right: 3px solid;
          border-bottom: 3px solid;
          border-color: $green;
          -webkit-transform: rotate(45deg);
          position: absolute;
        }
      }
    }
  }
  &.vertical{
    li{
      float: none;
      margin-right: 0;
      &.done{
        span{
          position: relative;
          margin-top: 3px;
        }
      }
    }
  }
}    