---
title: Carer's Allowance prototypes
---

<main class="main gov-uk grid-wrapper">

	<div id="section-content" class="grid">
	  <div class="inner-block">
		<h1>Carer's Allowance prototypes</h1>

		<ul>
			<li><a href="v1/1.html">Version 1 (horizontal progress bar)</a></li>
			<li><a href="v2/1.html">Version 2 (vertical progress bar)</a></li>
		</ul>
	  </div>
	</div>

</main>

